<nav class="navbar navbar-expand-md navbar-light bg-info fixed-top">
  <a class="navbar-brand text-light" >Welcome To Friendship App</a>
  <div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-light" routerLink='/' ><i class="fa fa-building"></i>Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" *ngIf="authService.loggedIn" >
        <a class="nav-link text-light" routerLink='/friend' > <i class="fa fa-users"></i> Friends <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" routerLink='/contactus' > <i class="fa fa-phone"></i> Contact Me</a>
      </li>
      <li class="nav-item" *ngIf="authService.loggedIn" >
          <a class="nav-link text-light" (click) = "onLogout()" > <i class="fa fa-users"></i>[Logout]</a>
        </li>
    </ul>
  </div>
</nav>
