<h4>Friend List</h4>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      Search : <input type="text" [(ngModel)]="searchStr"> &nbsp; <i class="fa fa-search"></i>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Contact</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let friend of myFriends | find: 'name':searchStr; let i = index"
          [appHoverHighlight] = "{ background:'aqua', text:'black' }" >
            <th scope="row"> {{( 1 + i )}} </th>
            <td> {{ friend.name | uppercase }} </td>
            <td>{{ friend.email | lowercase }}</td>
            <td>{{ friend.address }}</td>
            <td>{{ friend.contact }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
